/* root and other essentials */

:root {
    --header-height: 90px;
    --header-spacing: 10px;
    --view-width: 1850px;

    --body: #F5F5F5;
    --darker: #e6e6e6;

    --primary: #48CFCB;
    --primary-lighter: #58e7e3;
    --secondary: #229799;
    --text: #424242;
}

.sortable-ghost {
    opacity: 0.4;
}

@media screen and (max-width: 1090px) {
    main > div {
        grid-template-columns: 55% 45% !important;
    }

    #details-task-name {
        display: none;
    }

}

@media screen and (max-width: 720px) {
    main > div {
        height: calc(100dvh- var(--header-height) - 30px) !important;
        grid-template-columns: auto !important;
        grid-template-rows: 50% 50% !important;
    }

    .task-list-container {
        height: 100% !important;
    }

    .desc-container {
        height: 100% !important;
    }

    .task-list {
        height: calc(100% - 50px);
    }


}

body {
    margin: 0px;
    background-color: var(--body);
}

body.dark {
    --body: #1e1e1e;
    --darker: #2a2a2a;
    --primary: #3f8f8b;
    --secondary: #265e60;
    --text: #e5e5e5;
}

* {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.filter-button svg {
    transition: fill 0.3s ease-in-out, rotate 0.2s ease-in-out !important;
}

svg {
    transition: fill 0.3s ease-in-out;
}

.add-button {
    transition: color 0.2s ease-in-out !important;
}

body.preload,
body.preload *,
body.preload *::before,
body.preload *::after {
    transition: none !important;
}

/* dark mode transitions are completely fucked, i have no idea why. */

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.selected {
    outline: 2px solid #424242;
}

/* header rules */

header {
    height: calc(var(--header-height) - 20px);
    padding: 10px 0px;
    width: 100%;

    margin-bottom: var(--header-spacing);

    background-color: var(--darker);

    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: var(--view-width);
}

.header-left img {
    height: 100%;
}

.header-right {
    display: flex;
}



/* main rules */

main {
    width: 100%;
    height: calc(100dvh - var(--header-height) - var(--header-spacing));

    display: flex;
    justify-content: center;
}

main > div {
    width: var(--view-width);

    display: grid;
    grid-template-columns: 40% 60%;
}

.task-list-container {
    padding: 20px;
    box-sizing: border-box;
}

.desc-container {
    padding: 20px;
    box-sizing: border-box;
    height: calc(100dvh - var(--header-height) - 50px);
}

.desc-panel {
    border: 5px solid var(--darker);
    width: 100%;
    height: 100%;

    padding: 10px 30px;
    box-sizing: border-box;
}

.desc-panel h1 {
    font-size: 3rem;
    color: var(--text);
}

.desc-panel p {
    font-size: 1.66rem;
    color: var(--text);
}

/* filter rules */

.filter-bar {
    display: flex;
    position: relative;

    background-color: var(--darker);

    padding: 10px;

    height: 45px;
    
    justify-content: space-between;
}

.filter-button-wrapper {
    position: relative;
}

.filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;
    
    background: none;
    border: none;

    position: relative;

    color: var(--text);
    font-size: 1.7rem;

    height: 100%;
    cursor: pointer;

    background-color: var(--primary);
    transition: background-color 0.2s ease-in-out;
}

.filter-button:hover {
    background-color: var(--primary-lighter);
}

.filter-button svg {
    height: 100%;
    fill: var(--text);

    rotate: 180deg;
    transition: rotate 0.2s ease-in-out;
}

#filter-dropdown {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0px;

    z-index: 1;

    background-color: var(--secondary);

    display: flex;
    flex-direction: column;

    overflow: hidden;

    transition: height 0.2s ease-in-out;
}

#filter-dropdown button {
    color: #e5e5e5;
    font-size: 1.5rem;

    padding: 5px 0px;

    cursor: pointer;

    background: none;
    border: none;

    transition: background-color, 0.2s ease-in-out;
}

#filter-dropdown button:hover {
    background-color: #f5f5f53d;
}

.add-button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.add-button-wrapper span {
    font-size: 1.5rem;

    width: auto;
    overflow: hidden;
    white-space: nowrap;

    user-select: none;

    margin-right: 12px;

    transition: max-width 0.4s ease-in-out;
}

.add-button {
    display: flex;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;

    color: var(--text);

    background-color: rgba(0, 0, 0, 0);

    padding: 5px;

    border: none;
    font-size: 2.5rem;

    cursor: pointer;
    
    transition: background-color 0.2s ease-in-out;
}

.add-button:hover {
    background-color: var(--body);
}

/* tasks */

.task-list {
    margin-top: 10px;

    padding: 0px 5px;

    overflow-y: auto;
}

#task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    margin: 10px 0px;

    padding: 10px 10px 10px 20px;

    background-color: var(--darker);

    cursor: pointer;
}

#task-label {
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em;
    color: var(--text);
    text-overflow: ellipsis;
}

.completed-btns button, #task > button {
    height: 100%;
    aspect-ratio: 1 / 1;

    margin-left: 5px;

    font-size: 2em;
    color: var(--text);

    padding: 0px;

    cursor: pointer;

    background-color: var(--primary);
    border: none;

    transition: background-color 0.2s ease-in-out;
}

.completed-btns button > svg, #task > button > svg {
    width: 70%;
    height: 70%;
    vertical-align: middle;
}

#task > div {
    display: none;
    flex-direction: row-reverse;
    height: 100%;
}

.completed-btns button:hover, #task > button:hover {
    background-color:var(--primary-lighter);
}

.completed {
    opacity: 66% !important;
}

.completed > button {
    display: none !important;
}

.completed > div {
    display: flex !important;
}

/* admin rules  */

.menu-wrapper {
    position: fixed;

    opacity: 0;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 100dvh;

    z-index: 5;

    transition: opacity 0.2s ease-out;
}

.menu-wrapper > button {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.504);

    cursor: pointer;
}

.menu-container {
    display: flex;
    z-index: 1;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 40px;
    background-color: var(--darker);
}

.topbar button {
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: 1.66rem;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.menu-container h2 {
    font-size: 3rem;
    color: var(--text);
    text-align: center;
    margin: 0px;
    user-select: none;
}

.admin-menu {
    width: 500px;
    background-color: var(--body);
}

.admin-inputs, .add-inputs {
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.admin-inputs label, .add-inputs label {
    color: var(--text);
}

.admin-inputs input, select, .add-inputs input {
    width: 100%;
    height: 40px;

    background-color: var(--darker);
    color: var(--text);

    box-sizing: border-box;

    font-size: 1rem;

    padding-left: 10px;

    border: 2px solid #424242;

    margin-bottom: 10px;
}

.admin-inputs > div {
    display: flex;
    justify-content: center;
}

.admin-inputs > div button, .add-inputs > div button {
    border: 2px solid var(--secondary);
    background-color: var(--primary);
    font-size: 1.2rem;

    margin: 5px;
    padding: 5px 10px;

    color: var(--text);
    
    cursor: pointer;

    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.admin-inputs > div button:hover, .add-inputs > div button:hover {
    border-color: var(--primary);
    background-color: var(--primary-lighter);
}

.data-menu {
    width: 800px;
    background-color: var(--body);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.data-list {
    width: 90%;
    height: calc(100% - 125px);
    border: 2px solid #424242;
}

.entry {
    display: grid;
    grid-template-columns: 65px 35% 35% calc(100% - (70% + 64px));
    background: linear-gradient(0deg, var(--darker) 0%, var(--body) 35%, var(--body) 100%);
    color: var(--text);
}

.entry > div {
    min-height: 30px;
    max-height: 60px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry > div > span {
    padding-left: 10px;
}

.entry-header {
    background: var(--darker);
}

.seperator {
    width: 1px;
    height: calc(100% - 5px);
    background-color: #424242;
    align-self: center
}

/* add stuff  */

.add-menu {
    width: 500px;

    display: flex;
    flex-direction: column;

    background-color: var(--body);
}

.add-inputs > div button {
    width: 100%;
    margin: 0px;
    font-size: 2rem;
}

 /* edit stuff  */

.edit-menu {
    width: 500px;
    
    display: flex;
    flex-direction: column;
    
    background-color: var(--body);
}

/* misc single stuff  */

.tooltip {
    position: fixed;
    padding: 8px 12px;
    background-color: #424242;
    color: var(--text);
    pointer-events: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 100;
}

#custom-popup {
    position: fixed;
    display: flex;
    align-items: center;
    white-space: nowrap;

    height: 45px;
    padding: 8px 16px;

    background-color: var(--secondary);
    color: var(--text);
    fill: var(--text);

    font-size: 1.7rem;

    opacity: 0;

    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 100%);

    user-select: none;
    cursor: pointer;

    transition: opacity 0.2s ease, transform 0.2s ease;
}

#custom-popup svg {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-right: 10px;
    opacity: 50%;
}

.darkmode-button, .admin-button {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: none;
    border: none;

    cursor: pointer;

    transition: scale 0.2s ease-in-out;
}

.darkmode-button .moon {
    display: none;
}

.darkmode-button svg, .admin-button svg {
    fill: var(--text);
}

.darkmode-button:hover, .admin-button:hover {
    scale: 1.15;
}

.task-edit-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 50px;
    display: none;
    align-items: center;
    white-space: nowrap;

    margin-top: 20px;

    background: none;
    border: none;

    color: var(--text);

    cursor: pointer;
}

.task-edit-button svg {
    height: 100%;
    margin-right: 15px;
    aspect-ratio: 1 / 1;
    fill: var(--text)
}