/* root and other essentials */

:root {
    --header-height: 90px;
    --header-spacing: 10px;
    --view-width: 1850px;

    --body: #F5F5F5;
    --darker: #e6e6e6;

    --primary: #48CFCB;
    --secondary: #229799;
    --text: #424242;
}

body {
    margin: 0px;
    background-color: var(--body);
}

/* header rules */

header {
    height: calc(var(--header-height) - 20px);
    padding: 10px 0px;
    width: 100%;

    margin-bottom: var(--header-spacing);

    background-color: var(--darker);

    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: var(--view-width);
}

.header-left img {
    height: 100%;
}



/* main rules */

main {
    width: 100%;
    height: calc(100dvh - var(--header-height) - var(--header-spacing));

    display: flex;
    justify-content: center;
}

main > div {
    width: var(--view-width);

    display: grid;
    grid-template-columns: 40% 60%;
}

.task-list-container {
    background-color: var(--darker);
    padding: 20px;
    box-sizing: border-box;
}

/* filter rules */

.filter-bar {
    display: flex;
    position: relative;
    
    justify-content: space-between;
}

.filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;

    color: var(--text);
    font-size: 1.7rem;
    font-weight: bold;

    height: 40px;
    cursor: pointer;

    width: 200px;

    background-color: var(--primary);
}

.filter-button svg {
    height: 100%;
    aspect-ratio: 1 / 1;

    rotate: 180deg;
    transition: rotate 0.1s ease-out;
}

.add-button {
    position: absolute;
    right: 0px;
    height: 100%;
    aspect-ratio: 1 / 1;

    border: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;

    cursor: pointer;
}

.filter-bar > div {
    position: absolute;
    top: 40px;

    background-color: var(--secondary);

    display: none;
    flex-direction: column;
    width: 200px;
}

.filter-bar > div button {
    color: var(--body);
    font-size: 1.7rem;

    padding: 5px 0px;

    cursor: pointer;

    background: none;
    border: none;
}

/* task list rules */

#task-list {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

#task {
    width: 100%;
    height: 100px;

    border-radius: 25px;
    border: 3px solid var(--text);

    padding: 10px 20px;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);

    overflow: hidden;

    background-color: var(--body);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task > button {
    height: 100%;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    border: 3px solid var(--secondary);
    background-color: var(--primary);

    font-size: 100%;
    font-weight: bolder;

    cursor: pointer;
}