/* root and other essentials */

:root {
    --header-height: 90px;
    --header-spacing: 10px;
    --view-width: 1850px;

    --body: #F5F5F5;
    --darker: #e6e6e6;

    --primary: #48CFCB;
    --primary-lighter: #58e7e3;
    --secondary: #229799;
    --text: #424242;
}

body {
    margin: 0px;
    background-color: var(--body);
}

body.dark {
    --body: #1e1e1e;
    --darker: #2a2a2a;
    --primary: #3f8f8b;
    --secondary: #265e60;
    --text: #e5e5e5;
}

* {
    transition: background-color 0.3s ease, color 0.3s ease, fill 0.3s ease;
}

/* header rules */

header {
    height: calc(var(--header-height) - 20px);
    padding: 10px 0px;
    width: 100%;

    margin-bottom: var(--header-spacing);

    background-color: var(--darker);

    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: var(--view-width);
}

.header-left img {
    height: 100%;
}



/* main rules */

main {
    width: 100%;
    height: calc(100dvh - var(--header-height) - var(--header-spacing));

    display: flex;
    justify-content: center;
}

main > div {
    width: var(--view-width);

    display: grid;
    grid-template-columns: 40% 60%;
}

.task-list-container {
    padding: 20px;
    box-sizing: border-box;
}

.desc-container {
    padding: 20px;
    box-sizing: border-box;
}

/* filter rules */

.filter-bar {
    display: flex;
    position: relative;

    background-color: var(--darker);

    padding: 10px;

    height: 45px;
    
    justify-content: space-between;
}

.filter-button-wrapper {
    position: relative;
}

.filter-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;
    
    background: none;
    border: none;

    position: relative;

    color: var(--text);
    font-size: 1.7rem;
    font-weight: bold;

    height: 100%;
    cursor: pointer;

    background-color: var(--primary);
    transition: background-color 0.2s ease-in-out;
}

.filter-button:hover {
    background-color: var(--primary-lighter);
}

.filter-button svg {
    height: 100%;

    rotate: 180deg;
    transition: rotate 0.2s ease-in-out;
}

.add-button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.add-button-wrapper span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

    width: auto;
    overflow: hidden;
    white-space: nowrap;

    user-select: none;

    margin-right: 12px;

    transition: max-width 0.4s ease-in-out;
}

.add-button {
    display: flex;
    align-items: center;
    height: 100%;
    aspect-ratio: 1/1;

    color: var(--text);

    background-color: rgba(0, 0, 0, 0);

    padding: 5px;

    border: none;
    font-size: 2.5rem;

    cursor: pointer;
    
    transition: background-color 0.2s ease-in-out;
}

.add-button:hover {
    background-color: var(--body);
}

#filter-dropdown {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0px;

    background-color: var(--secondary);

    display: flex;
    flex-direction: column;

    overflow: hidden;

    transition: height 0.2s ease-in-out;
}

#filter-dropdown button {
    color: var(--body);
    font-size: 1.5rem;

    padding: 5px 0px;

    cursor: pointer;

    background: none;
    border: none;

    transition: background-color, 0.2s ease-in-out;
}

#filter-dropdown button:hover {
    background-color: #f5f5f53d;
}

/* tasks */

.task-list {
    margin-top: 10px;

    overflow-y: auto;
}

#task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    padding: 10px 10px 10px 20px;

    border: 1px solid var(--text);
}

#task-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#task > button {
    height: 100%;
    aspect-ratio: 1 / 1;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: var(--text);

    padding: 0px;

    cursor: pointer;

    background-color: var(--primary);
    border: 3px solid var(--secondary);

    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

#task > button:hover {
    background-color:var(--primary-lighter);
    border-color: var(--primary);
}

/* admin rules  */

.admin-menu-wrapper {
    position: fixed;

    opacity: 0;
    display: flex;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0px;
    left: 0px;
    width: 100%;
    height: 100dvh;

    transition: opacity 0.2s ease-out;
}

.admin-menu-wrapper > button {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.504);

    cursor: pointer;
}

.admin-menu-container {
    width: 500px;
    background-color: var(--body);
    z-index: 1;
}

.topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 40px;
    background-color: var(--darker);
}

.topbar button {
    height: 100%;
    aspect-ratio: 1 / 1;
    font-size: 1.66rem;
    background: none;
    border: none;
    cursor: pointer;
}

.admin-menu-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    margin: 0px;
}

.admin-inputs {
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.admin-inputs label {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    font-weight: bold;
}

.admin-inputs input {
    width: 100%;
    height: 40px;

    box-sizing: border-box;

    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    padding-left: 10px;

    border: 2px solid var(--text);

    margin-bottom: 10px;
}

.admin-inputs > div {
    display: flex;
    justify-content: center;
}

.admin-inputs > div button {
    border: 2px solid var(--secondary);
    background-color: var(--primary);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    margin: 5px;
    padding: 5px 10px;
    
    cursor: pointer;

    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.admin-inputs > div button:hover {
    border-color: var(--primary);
    background-color: var(--primary-lighter);
}